@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --bg-color: #dff1e7;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--bg-color);
    user-select: none;
}

#nav {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #ade0d8;
}


#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 0;
    transform: translate(0%, 0%);
}

#logo-image {
    width: 35px;
    height: 35px;
    margin-left: 1rem;
}

#logo-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-left: 0rem;
    margin-bottom: 0.5rem;
    border: 0;
    color: rgb(0, 0, 0);
}

#right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 0;
}

#profile-image {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-right: 1rem;
    border: 0;
    outline: none;
}

#signout-button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    padding: 8px;
    border: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #14a6d3;
}

#signout-button:hover {
    color: white;
    background-color: #058db6;
}

#display-user-info-div {
    background-color: #ade0d8;
    color: white;
}

#display-user-info {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.69rem;
    margin-top: 0rem;
    margin-right: 0.3rem;
    text-align: right;
    padding-bottom: 5px;
    padding-top: 0px;
    outline: none;
    user-select: text;
    color: black;
}

#landing-name {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

#landing-details {
    text-align: center;
    font-size: 1.05rem;
    padding: 5px 15px 0px 15px;
}

#input-container-signed-in {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    /* border: 1px solid red; */
    background-image: url(svg/sleeping-cat.svg);
    background-repeat: no-repeat;
    background-position: 117.5% -1.5%;
    background-size: 180px 180px;
}

#input-text {
    font-family: 'Ubuntu', sans-serif;
    width: 89%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 6.9px;
    border: 0;
    outline: 2px solid #14d34d;
    /* outline: 2px solid #14d34d; */
    font-size: 1.3rem;
    color: black;
    background-color: #d1e2d9;
    text-align: center;
    margin-top: 7rem;
}

#input-text:focus {
    outline: 2px solid #14c6d3;
}

#add-button {
    font-family: 'Ubuntu', sans-serif;
    width: 99%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 30px;
    border: 0;
    outline: none;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: #14d34d;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 2rem;
    user-select: none;
}

#add-button:hover {
    color: rgb(255, 255, 255);
    background-color: #13aa41;
}

#add-button:active {
    color: rgb(216, 216, 216);
    background-color: #13aa41;
}

#list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 0.5rem;
    padding: 7px;
    max-width: 320px;
    margin: 0 auto;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-color: #e9f7ef;
    margin-bottom: 14rem;
}

#list li {
    font-family: 'Ubuntu', sans-serif;
    flex-grow: 1;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #d8eb85;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    user-select: text;
}

#list li:hover {
    background-color: #e41e1e;
}

#input-container-sign-in {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    max-width: 330px;
    margin: 50px auto;
    background-image: url(svg/sleeping-cat.svg);
    background-repeat: no-repeat;
    background-position: 113.5% 5%;
    background-size: 180px 180px;
    padding-left: 18px;
    padding-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

#input-container-sign-up {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    max-width: 330px;
    margin: 50px auto;
    background-image: url(svg/sleeping-cat.svg);
    background-repeat: no-repeat;
    background-position: 113.5% 5%;
    background-size: 180px 180px;
    padding-left: 18px;
    padding-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

#name-input {
    font-family: 'Ubuntu', sans-serif;
    width: 89%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 0;
    outline: 2px solid #14d34d;
    font-size: 1.3rem;
    color: black;
    background-color: #d1e2d9;
    text-align: center;
    margin-top: 8rem;
}

#name-input:focus {
    outline: 2px solid #14c6d3;
}

.email-input-signin {
    font-family: 'Ubuntu', sans-serif;
    width: 89%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 0;
    outline: 2px solid #14d34d;
    font-size: 1.3rem;
    color: black;
    background-color: #d1e2d9;
    text-align: center;
    margin-top: 8rem;
}

.email-input-signin:focus {
    outline: 2px solid #14c6d3;
}

.email-input-signup {
    font-family: 'Ubuntu', sans-serif;
    width: 89%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 0;
    outline: 2px solid #14d34d;
    font-size: 1.3rem;
    color: black;
    background-color: #d1e2d9;
    text-align: center;
    margin-top: 1rem;
}

.email-input-signup:focus {
    outline: 2px solid #14c6d3;
}


.password-input {
    font-family: 'Ubuntu', sans-serif;
    width: 89%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 0;
    outline: 2px solid #14d34d;
    font-size: 1.3rem;
    color: black;
    background-color: #d1e2d9;
    text-align: center;
    margin-top: 1rem;
}

.password-input:focus {
    outline: 2px solid #14c6d3;
}

.togglePassword {
    text-align: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transform: translate(17rem, -2.3rem);
}

#signin-button {
    font-family: 'Ubuntu', sans-serif;
    width: 95%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: #14d34d;
    cursor: pointer;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

#signin-button:hover {
    color: rgb(255, 255, 255);
    background-color: #13aa41;
}

#signup-button {
    font-family: 'Ubuntu', sans-serif;
    width: 95%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: #14d34d;
    cursor: pointer;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

#signup-button:hover {
    color: rgb(255, 255, 255);
    background-color: #13aa41;
}


#reset-password-button {
    font-family: 'Ubuntu', sans-serif;
    width: 95%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: #10bfd6;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#reset-password-button:hover {
    color: rgb(255, 255, 255);
    background-color: #0e9db4;
}

#sign-up-refer {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 8px;
}

#sign-up-refer button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: rgb(25, 45, 210);
    background-color: var(--bg-color);
}

#sign-up-refer button:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#sign-in-refer {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 7px;
}

#sign-in-refer button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: rgb(25, 45, 210);
    background-color: var(--bg-color);
}

#sign-in-refer button:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#sign-in-error-box {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 30rem;
    font-size: 1.3rem;
    max-width: 301.5px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    text-align: center;
    outline: 2px solid rgb(20, 211, 77);
    color: rgb(230, 24, 24);
    background-color: rgb(232, 247, 22);
    margin-bottom: 1rem;
}

#sign-up-error-box {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 30rem;
    font-size: 1.3rem;
    max-width: 301.5px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    text-align: center;
    outline: 2px solid rgb(20, 211, 77);
    color: rgb(230, 24, 24);
    background-color: rgb(232, 247, 22);
    margin-bottom: 1rem;
}

#github-repo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    color: rgb(30, 30, 30);
}

#github-repo-link:hover {
    text-decoration: underline;
}

#github-repo-link img {
    height: 1.6rem;
    margin-right: 5px;
}

#github-repo-link p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

/* ------------------------------------------- */

#verify-email-section {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#verify-email-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 320px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

#verify-email-h1 {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

#verify-email-details {
    text-align: center;
    font-size: 1.05rem;
    padding: 0px 15px 0px 15px;
}

#verify-email-address {
    font-style: italic;
}

#verify-email-resend {
    text-align: center;
    font-size: 1rem;
}

#resend-verification-email-button {
    width: 75%;
    height: 1.6rem;
    padding: 3px 10px 3px 10px;
    border-radius: 18px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 200, 231);
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#resend-verification-email-button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 180, 207);
}

#email-signout-button {
    width: 30%;
    height: 1.6rem;
    padding: 3px 10px 3px 10px;
    border-radius: 18px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 200, 231);
    cursor: pointer;
    margin-bottom: 0.5rem;
}

#email-signout-button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 180, 207);
}

/* ------------------------------------------- */

/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c2f0d9;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #37816f;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #46aca7;
}